TheSingingClub/SingerQueuer/SingerQueuer/Service References/SingingClubDataReference/SingingClubRestService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dmooring52-001-site3.htempurl.com/SingingClubRestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfSingingClub" />
  <xs:element name="XMLData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageoffset" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pagereturn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageorderby" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pagewhereclause" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XMLDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfSingingClub" minOccurs="0" name="XMLDataResult" nillable="true" type="q1:ArrayOfSongItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JSONData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageoffset" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pagereturn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageorderby" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pagewhereclause" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JSONDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JSONDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>