TheSingingClub/SingerQueuer/SingerQueuer/Service References/SingingClubDataReference/SingingClubRestService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfSingingClub" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfSingingClub" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSongItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SongItem" nillable="true" type="tns:SongItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSongItem" nillable="true" type="tns:ArrayOfSongItem" />
  <xs:complexType name="SongItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Disk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DuetArtist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDuet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsHelper" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OneDrive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SongItem" nillable="true" type="tns:SongItem" />
</xs:schema>