TheSingingClub/ServiceTestClient/ServiceTestClient/Service References/SingingClubDataReference/SingingClub.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dmmlenovo1:5200/SingingClub.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfSingingClub" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfSingingClub" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfSingingClub" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneralStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneralStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GeneralStoreResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingerHistoryForVenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VenueKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingerHistoryForVenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSingerHistoryForVenueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>